<script setup>
const props = defineProps([
  "addIsVisible",
  "hideAdd",
  "showNoteWrite",
  "showTodoWrite",
]);
</script>

<template>
  <div
    :data-addIsVisible="props.addIsVisible"
    class="data-[addIsVisible=false]:hidden bg-[#2222229c] backdrop-blur-sm fixed left-0 bottom-0 w-[100%] h-[100%] flex justify-center items-end z-[1]"
  >
    <div
      class="bg-[#ffffff] fixed w-full h-fit rounded-tl-[30px] rounded-tr-[30px]"
    >
      <div
        class="my-[10px] px-30 flex flex-col items-center justify-center px-7 w-full"
      >
        <button
          @click="props.showNoteWrite()"
          class="bg-black text-white m-1 p-3 rounded-full w-full hover:bg-[#eb7a53] hover:text-black transition-colors"
        >
          Add Note
        </button>
        <button
          @click="props.showTodoWrite()"
          class="bg-black text-white m-1 p-3 rounded-full w-full hover:bg-[#f7d44c] hover:text-black transition-colors"
        >
          Add Todo
        </button>
        <button
          class="bg-black text-white m-1 p-3 rounded-full w-full hover:bg-[#98b7db] hover:text-black transition-colors"
        >
          Add Image
        </button>
        <button
          class="bg-black text-white m-1 p-3 rounded-full w-full hover:bg-[#a8d672] hover:text-black transition-colors"
        >
          Add Sound
        </button>
        <button
          @click="props.hideAdd()"
          class="bg-red-600 text-white m-1 p-3 rounded-full w-full hover:bg-red-400 hover:text-black transition-colors"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</template>
