<script setup>
const props = defineProps(["showAdd"]);
</script>

<template>
  <div class="flex justify-center fixed bottom-[20px] left-0 right-0">
    <div class="doc w-full">
      <button @click="props.showAdd()" class="add">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="hover:rotate-[135deg] transition-[transform]"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M256 112v288M400 256H112"
          />
        </svg>
      </button>
      <button class="record">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-[30px] h-[30px] hover:scale-[1.20] transition-[transform]"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M192 448h128M384 208v32c0 70.4-57.6 128-128 128h0c-70.4 0-128-57.6-128-128v-32M256 368v80"
          />
          <path
            d="M256 64a63.68 63.68 0 00-64 64v111c0 35.2 29 65 64 65s64-29 64-65V128c0-36-28-64-64-64z"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="h-24"></div>
</template>
