<template>
  <header>
    <div class="navSection">
      <button class="hover:rotate-[135deg] transition-[transform]">
        <img src="../assets/more.png" alt="menu" />
      </button>
    </div>
    <h1>My Notes</h1>
  </header>
</template>
