<script setup>
import { ref } from "vue";

const colors = ["#f7d44c", "#eb7a53", "#98b7db", "#a8d672", "#f6ecc9"];
const color = Math.floor(Math.random() * 5);
const todos = ref([]);
const title = ref("");
const id = ref(0);

function evenOdd(num) {
  num % 2 == 0 ? "even" : "odd";
}

const addTodo = () => {
  todos.value.push({
    id: id.value++,
    title: title.value,
    bgc: color[color],
    mode: evenOdd(id.value++),
  });
};
</script>
<template>
  <div class="notes">
    <div
      v-for="todo in todos"
      :key="todo.id"
      class="note"
      :class="todo.mode"
      :style="{ 'background-color': colors[color] }"
    >
      <div class="divideHeader">
        <div class="divideBig"></div>
        <div class="divideSmall"></div>
      </div>
      <div class="noteHeader">
        <span class="title">
          <h3>{{ todo.title }}</h3>
        </span>
        <span class="like">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="heart"
            viewBox="0 0 512 512"
          >
            <path
              d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </span>
      </div>
      <div class="todos">
        <ul>
          <li>
            <input type="checkbox" id="check" />
            <label for="check">Buy food</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped>
.notes .even {
  border-radius: 0 45px 45px 45px;
}

.notes .odd {
  border-radius: 45px 45px 0 45px;
}
</style>
