<script setup>
const props = defineProps(["todoWriteIsVisible", "hideTodoWrite"]);
</script>

<template>
  <div
    :data-todoWriteIsVisible="props.todoWriteIsVisible"
    class="data-[todoWriteIsVisible=false]:hidden fixed w-full h-full top-0 left-0 flex items-center justify-center"
  >
    <div
      class="bg-[#f6ecc9] text-black w-full h-full flex flex-col items-start px-5 py-5"
    >
      <div class="w-full flex items-center justify-between mb-10">
        <button
          @click="props.hideTodoWrite()"
          class="bg-[#7a796f3f] backdrop-blur-sm size-12 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-7"
            viewBox="0 0 512 512"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="48"
              d="M328 112L184 256l144 144"
            />
          </svg>
        </button>
        <h3 class="font-thin text-xs">Note</h3>

        <button
          class="bg-[#7a796f3f] backdrop-blur-sm size-12 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-7"
            viewBox="0 0 512 512"
          >
            <path
              d="M380.93 57.37A32 32 0 00358.3 48H94.22A46.21 46.21 0 0048 94.22v323.56A46.21 46.21 0 0094.22 464h323.56A46.36 46.36 0 00464 417.78V153.7a32 32 0 00-9.37-22.63zM256 416a64 64 0 1164-64 63.92 63.92 0 01-64 64zm48-224H112a16 16 0 01-16-16v-64a16 16 0 0116-16h192a16 16 0 0116 16v64a16 16 0 01-16 16z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            />
          </svg>
        </button>
      </div>
      <h1 class="font-medium text-5xl mb-10">Todo Text Erea</h1>
      <div
        class="bg-[#22222223] p-3 rounded-[50px] flex items-center justify-center my-1"
      >
        <ul>
          <li>
            <input type="checkbox" id="check" />
            <label class="mr-[10px]" for="check">Todo Item for user</label>
          </li>
        </ul>
      </div>
      <div class="flex items-center justify-center w-full my-5">
        <button class="bg-black text-white rounded-full p-3 add">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hover:rotate-[135deg] transition-[transform]"
            viewBox="0 0 512 512"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M256 112v288M400 256H112"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>
