<script setup>
import { ref } from "vue";

const allNote = ref(0); // I need to ajust that.
</script>
<template>
  <div class="topics">
    <div class="topic" id="active">
      <h3>All</h3>
      <div class="numCircle">{{ allNote }}</div>
    </div>
    <div class="topic">
      <h3>To-do</h3>
    </div>
    <div class="topic">
      <h3>Favorite</h3>
    </div>
  </div>
</template>
