@font-face {
  font-family: "lufga";
  src: url("./lufga-cufonfonts/LufgaRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lufga";
  src: url("./lufga-cufonfonts/LufgaBold.ttf");
  font-weight: bold;
  font-style: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-family: "lufga";
}

body {
  min-height: 100vh;
  /*background: #000000 url("./grey_hexagons_on_black_background.jpg") left fixed
    no-repeat;*/
  background: #000000 url("./2691.jpg") left fixed no-repeat;
  background-size: cover;
  color: #ffffff;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}
