@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar css */

header h1 {
  font-size: 3rem;
  font-weight: normal;
  padding-left: 15px;
}

.navSection {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5%;
  padding-top: 5%;
}

.navSection button {
  background: #2222229c;
  color: #ffffff;
  backdrop-filter: blur(10px);
  width: 65px;
  height: 65px;
  border: 1px solid #2222229c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navSection button img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

/* Topics and topic */
.topics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 30px 0;
}

.topics .topic {
  font-size: 1.2rem;
  color: #494949;
  border: 2px solid #494949;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topics #active {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.topics .topic .numCircle {
  background: #2222229c;
  backdrop-filter: blur(10px);
  border: 1px solid #2222229c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

/* Tpodo notes */
.notes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.notes .note {
  width: 180px;
  height: 320px;
  margin: 0 2.5px;
}

.notes .note .divideHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.notes .note .divideBig {
  width: 30px;
  height: 2px;
  margin: 1px;
  background: #000000;
  border-radius: 5px;
}

.notes .note .divideSmall {
  width: 15px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}

.notes .note .noteHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding: 5px;
  margin-top: 15px;
}

.notes .note .noteHeader .title {
  width: 80px;
  height: 50px;
  font-size: medium;
}

.notes .note .noteHeader .like {
  background: #22222223;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 15px;
  border-radius: 50%;
}
.notes .note .noteHeader .like .heart {
  width: 30px;
}

.notes .note .todos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: medium;
  margin: 25px 0;
}

.notes .note ul {
  position: relative;
}

.notes .note ul li {
  background: #22222223;
  position: relative;
  list-style: none;
  display: table;
  border-radius: 50px;
  margin: 3px 0;
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

.notes .note ul li label {
  padding-right: 15px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

ul li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #2222229c;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: none;
}

ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul li input[type="checkbox"]::after {
  content: "\2714";
  color: #ffffff;
  display: none;
}

ul li input[type="checkbox"]:hover {
  background: #22222223;
}

ul li input[type="checkbox"]:checked {
  background: #2222229c;
}

ul li input[type="checkbox"]::after {
  display: block;
}

/* Note data */
.noteData {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.noteData .myNotes {
  background: #f6ecc9;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

.noteData .divideHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.noteData .divideBig {
  width: 30px;
  height: 2px;
  margin: 1px;
  background: #000000;
  border-radius: 5px;
}

.noteData .divideSmall {
  width: 15px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}

.noteData .wholeData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.noteData .wholeData .noteLogo {
  background: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  flex-shrink: 0;
}

.noteData .wholeData .noteLogo svg {
  width: 30px;
}

.noteData .wholeData .noteHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.noteData .wholeData .noteHeader .title {
  width: 80px;
  height: 50px;
  font-size: medium;
}

.noteData .wholeData .noteHeader .like {
  background: #22222223;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 15px;
  border-radius: 50%;
}

.noteData .wholeData .noteHeader .like .heart {
  width: 30px;
}

.noteNum p {
  color: #2222229c;
  font-size: 12px;
}

/* Image and voice */
.imageAndSound {
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 5px 5px 2rem 5px;
}

.imageAndSound .noteHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imageAndSound .voice {
  background: #a8d672;
  width: 100%;
  height: 100%;
  border-radius: 45px 0 0 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.imageAndSound .voice h3 {
  width: 60px;
}

.imageAndSound .image {
  background: #98b7db;
  width: 100%;
  height: 100%;
  border-radius: 0 45px 45px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.imageAndSound .image h3 {
  width: 60px;
}

.imageAndSound .like {
  background: #22222223;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50%;
}

.imageAndSound .like .heart {
  width: 30px;
}

/* Doc buttons */
.doc {
  background: rgba(111, 122, 122, 0.39);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.doc .add {
  background: #000000;
  color: #ffffff;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.add svg {
  width: 30px;
}

.doc .record {
  background: rgba(111, 122, 122, 0.5);
  color: #ffffff;
  backdrop-filter: blur(10px);
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
