<script setup>
// Componets
import Header from "./components/Header.vue";
import Topic from "./components/Topic.vue";
import Todo from "./components/Todo.vue";
import Note from "./components/Note.vue";
import ImageAndSound from "./components/imageandsound.vue";
import Doc from "./components/Doc.vue";
import Add from "./components/Add.vue";
import NoteWrite from "./components/Notewrite.vue";
import TodoWrite from "./components/TodoWrite.vue";

// Framework, libs & codes
import { ref } from "vue";

const addIsVisible = ref(false);
const noteWriteIsVisible = ref(false);
const todoWriteIsVisible = ref(false);
</script>

<template>
  <Add
    :addIsVisible="addIsVisible"
    :hideAdd="() => (addIsVisible = false)"
    :showNoteWrite="
      () => {
        noteWriteIsVisible = true;
        addIsVisible = false;
      }
    "
    :showTodoWrite="
      () => {
        todoWriteIsVisible = true;
        addIsVisible = false;
      }
    "
  />
  <Header />
  <Topic />
  <Todo />
  <Note />
  <ImageAndSound />
  <Doc :showAdd="() => (addIsVisible = true)" />
  <NoteWrite
    :noteWriteIsVisible="noteWriteIsVisible"
    :hideNoteWrite="() => (noteWriteIsVisible = false)"
  />
  <TodoWrite
    :todoWriteIsVisible="todoWriteIsVisible"
    :hideTodoWrite="() => (todoWriteIsVisible = false)"
  />
</template>
